@import "colorsandfonts";

* { /* Gælder alt på hele siden */
  -webkit-box-sizing: border-box; /* -webkit- browserunderstøttelse */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen mv. */
}

body {
  margin: 1em; /* Ingen kanter i siden af browser */
  background-color: orange;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 0; /* Ingen ydre margen fra lister */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}

header {
  height: 80px;
  background-color: $white;
  margin: -1em;
  padding: 1em;

  h1 {
    font-family: $FontHeader;

    a {
      text-decoration: none;
      color: $black;
      cursor: pointer;
    }
  }

  nav {
    list-style: none;
    position: relative;
    z-index: 1000;
    float: right;
    margin-right: 40px;

    .burger {
      position: absolute;
      cursor: pointer;
      margin-top: 10px;
    }

    .burger span {
      background-color: $black;
      width: 30px;
      height: 3px;
      display: block;
      margin-bottom: 8px;
      position: relative;
      transition: .5s;
      border-radius: 4px;

      &:nth-child(1) {
        transform-origin: left;
      }

      &:nth-child(2) {
        transform-origin: center;
      }

      &:nth-child(3) {
        transform-origin: left;
      }
    }

    .burger.active span:nth-child(1) {
      transform: rotate(45deg);
      left: 2px;
    }

    .burger.active span:nth-child(2) {
      transform: rotate(315deg);
      right: 3px;
    }

    .burger.active span:nth-child(3) {
      transform: scaleX(0);
    }

    ul {
      padding: 0;
      right: -100px;
      margin-right: 344px;
      margin-top: 60px;
      position: absolute;
      /* Skal kigge på dette, da det ikke fungere som ønsket */
        -webkit-font-smoothing: antialiased;
        transform-origin: 0 0;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

      li {
        font-family: $FontText;
        font-weight: 100;
        font-size: 20px;
        display: none;
        height: 80px;


        a {
          text-decoration: none;
          color: $black;

          &:hover {
            color: $LightGrey;
          }
        }

        .fas {
          font-size: 24px;
        }
      }

      li.open {
        padding: 15px 0 15px 30px;
        float: none;
        display: block;
        color: $black;
        letter-spacing: 2px;
        background-color: $white;
        overflow: visible;
        width: 300px;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  /* Alt der ændres i tablet stående fra mobil */
}

@media screen and (min-width: 992px) {
  /* Alt der ændres i tablet liggende fra mobil og tablet stående */
}

@media screen and (min-width: 1200px) {
  /* Alt der ændres i computer fra mobil, tablet stående og tablet liggende */
}

@media print {
  /* Alt der gælder for print specifikt */
}