@import "colorsandfonts";

$margin-top: 25px;

* { /* Gælder alt på hele siden */
  -webkit-box-sizing: border-box; /* -webkit- browserunderstøttelse */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen mv. */
}

body {
  margin: 1em;
  background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 0; /* Ingen ydre margen fra lister */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}

header {
  height: 100px;
  background-color: $white;
  padding: 1em;
  margin: -1em;
  width: 100%;
  position: relative;



  nav {
    list-style: none;
    width: 100%;
    z-index: 1000;
    float: right;
    position: absolute;

    .burger {
      position: relative;
      cursor: pointer;
      margin-top: 10px;
      display: block;
      float: right;
    }

    .burger span {
      background-color: $black;
      width: 25px;
      height: 2px;
      display: block;
      margin-bottom: 5px;
      position: relative;
      transition: .5s;
      border-radius: 4px;
      z-index: 1000;

      &:nth-child(1) {
        transform-origin: left;
      }

      &:nth-child(2) {
        transform-origin: center;
      }

      &:nth-child(3) {
        transform-origin: left;
      }
    }

    .burger.active span:nth-child(1) {
      transform: rotate(45deg);
      left: 1px;
      bottom: 1px;
    }

    .burger.active span:nth-child(2) {
      transform: rotate(315deg);
      right: 3px;
      top: 2px;
    }

    .burger.active span:nth-child(3) {
      transform: scaleX(0);
    }

    ul {
      float: right;
      padding: 30px 0;
      width: 100%;
      text-align: center;


      li {
        font-family: $FontHeader;
        font-weight: 400;
        font-size: 20px;
        height: 20vw;
        display: none;
        width: 100%;

        a {
          text-decoration: none;
          color: $black;

          &:hover {
            color: $LightGrey;
          }
        }

        .fas {
          font-size: 24px;
        }
      }

      li.open {
        padding: 20px 0;
        float: none;
        display: block;
        letter-spacing: 2px;
        overflow: visible;
        background-color: $white;
        width: 100%;
      }

      li:nth-of-type(3) {
        padding-bottom: 100px;
      }
    }

    a {
      text-decoration: none;
      color: $black;
      cursor: pointer;

      h1 {
        font-family: $FontHeader;
        font-size: 20pt;
        position: absolute;
      }
    }
  }
}


/* Index side */
.project-box {
  display: flex;
  flex-wrap: wrap;
  margin: -1em;

  .project {
    width: 100%;
    position: relative;
  }

  a {
    text-decoration: none;
    color: $black;

    .project-file {
      transition: .5s ease;
      opacity: 1;

      &:hover {
        opacity: 0.7;
      }
    }

    .details {
      position: absolute;
      top: 5%;
      left: 5%;

      h1 {
        @include mellemrubrik;
        font-size: 16px;
      }

      p {
        @include mellemrubrik;
        font-size: 10px;
      }
    }
  }
}


/* ommig side */
.about-box {
  margin-top: $margin-top;
  background: none;
  display: flex;
  flex-wrap: wrap;

  .picture-me {
    background: url(../images/Stephanie.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 400px;
    margin-left: 145px;
  }

  .text-about-me {
    @include brodtekst;
    padding-right: 20px;
    margin-top: $margin-top * 2;
  }
}


/* kontaktmig side */
.contact-box {
  margin-top: $margin-top;

  .contact-h1 {
    @include mellemrubrik;
    margin-bottom: 10px;
  }

  p {
    @include brodtekst;
  }

  form {
    margin-top: 15px;

    input {
      @include brodtekst;
      width: 100%;
      padding: 8px 0 10px 3px;
      margin: 8px 0;
      font-size: 12px;
      border: {
        color: $LightGrey;
        width: 1px;
        style: solid;
      }
    }

    textarea {
      @include brodtekst;
      width: 100%;
      height: 100px;
      margin-top: 8px;
      font-size: 12px;
      padding: 8px 0 10px 3px;
      border: {
        color: $LightGrey;
        style: solid;
      }
    }

    .contactButton {
      margin-top: 8px;
      float: right;

      button {
        @include buttonContact;
      }
    }
  }
}


.box-toTop {
  text-align:center;
  margin-top: 45px;

  .toTop{
    color: $LightGrey;
    text-decoration: none;
    @include brodtekst;
    font-size: 14px;

    &:hover {
      font-weight: 500;
    }

    span {
      font-size: 12px;
    }
  }
}


footer {
  @include some;
}



/* CV */
aside {
  position: sticky;
  width: 200px;
  background-color: grey;
}

@media screen and (min-width: 768px) {
  /* Alt der ændres i tablet stående fra mobil */
}

@media screen and (min-width: 992px) {
  /* Alt der ændres i tablet liggende fra mobil og tablet stående */


  body {
    margin: 2em;
  }

  header {
    nav {
      .burger {
        display: none;
      }

      ul {
        text-align: right;
        padding: 0;

        li {
          display: inline;
          padding-left: 3%;
          font-size: 16px;
        }
      }
    }
  }


  /* Index side */
  .project-box {
    padding: 20px 0;
    margin: -2em;

    .project {
      width: 33.33%;
      position: relative;
    }
  }


  /* ommig side */
  .about-box {
    margin-top: $margin-top * 2;
    flex-wrap: unset;

    .text-about-me {
      width: 700px;
      text-align: left;
      padding: 0 75px 0 65px;
      margin-top: 0;
    }
  }


  /* kontaktmig side */
  .contact-box {
    margin-top: $margin-top * 2;
    margin-left: 200px;
    margin-right: 200px;

    .contact-h1 {
      @include mellemrubrik;
      margin-bottom: 10px;
    }

    p {
      @include brodtekst;
    }

    form {
      margin-top: 15px;

      input {
        @include brodtekst;
        width: 100%;
        padding: 8px 0 10px 3px;
        margin: 8px 0;
        font-size: 12px;
        border: {
          color: $LightGrey;
          width: 1px;
          style: solid;
        }
      }

      textarea {
        @include brodtekst;
        width: 100%;
        height: 100px;
        margin-top: 8px;
        font-size: 12px;
        padding: 8px 0 10px 3px;
        border: {
          color: $LightGrey;
          style: solid;
        }
      }

      .contactButton {
        margin-top: 8px;
        float: right;

        button {
          @include buttonContact;
        }
      }
    }
  }

}

@media screen and (min-width: 1200px) {
  /* Alt der ændres i computer fra mobil, tablet stående og tablet liggende */
}

@media print {
  /* Alt der gælder for print specifikt */
}

